<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>

<!-- Active projects table-->
  <h2>My Active Projects</h2>
  {% if projects %}
  <div class="table-wrapper">
      <table class="fl-table">
          <thead>
          <tr>
              <th>Project Name</th>
              <th>Project Descrption</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Client</th>
              <th>Project Manager</th>
          </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr>
                <td>
                  <a href="/projects/{{project._id}}">{{project.projectname}}</a>
                </td>
                <td>{{project.description}}</td>
                <td>{{project.Status}}</td>
                <td>{{project.startdate.strftime('%d %b %Y')}}</td>
                <td>{{project.enddate.strftime('%d %b %Y')}}</td>
                <td>
                  <a href="/clients/{{project.clientid}}">{{project.client.clientname}}</a>
                </td>
                <td>
                  <a href="/users/{{project.projectmanagerid}}">{{project.projectmanager.firstname}} {{project.projectmanager.lastname}}</a>
                </td>

              </tr>
            {% endfor %}
          <tbody>
      </table>
  </div>
    {% else %}
    <p>No Active Projects</p>
  {% endif %}

<!-- Project Milestone table-->
  <h2>Project Milestones</h2>
  {% if milestones %}
  <div class="table-wrapper">
      <table class="fl-table">
          <thead>
          <tr>
              <th></th>
              <th>Project Name</th>
              <th>Milestone Name</th>
              <th>Milestone Descrption</th>
              <th>Status</th>
              <th>Due Date</th>
          </tr>
          </thead>
          <tbody>
            {% for milestone in milestones %}
              <tr>
                <td></td>
                <td>
                  <a href="/projects/{{milestone.projectid}}">{{milestone.projectname}}</a>
                </td>
                <td>{{milestone.milestonename}}</td>
                <td>{{milestone.description}}</td>
                <td>{{milestone.status}}</td>
                <td>{{milestone.duedate.strftime('%d %b %Y')}}</td>
              </tr>
            {% endfor %}
          <tbody>
      </table>
  </div>
    {% else %}
    <p>No Milestones</p>
  {% endif %}


<!-- Project Team table-->
  <h2>Project Team</h2>
  {% if prjteam %}
  <div class="table-wrapper">
      <table class="fl-table">
          <thead>
          <tr>
              <th></th>
              <th>Project Name</th>
              <th>Team Member Name</th>
              <th>Role</th>
          </tr>
          </thead>
          <tbody>
            {% for member in prjteam %}
              <tr>
                <td></td>
                <td>
                  <a href="/projects/{{member.projectid}}">{{member.projectname}}</a>
                </td>
                <td>
                  <a href="/users/{{member.prjteamid}}">{{member.firstname}} {{member.lastname}}</a>
                </td>
                <td>{{member.status}}</td>
              </tr>
            {% endfor %}
          <tbody>
      </table>
  </div>
    {% else %}
    <p>No Project Members found</p>
  {% endif %}

<!-- Project tasks table-->
  <h2>Project Tasks</h2>
  {% if tasks %}
  <div class="table-wrapper">
      <table class="fl-table">
          <thead>
          <tr>
              <th></th>
              <th>Project Name</th>
              <th>Milestone Name</th>
              <th>Task Name</th>
              <th>Task Description</th>
              <th>Due Date</th>
              <th>% Complete</th>
              <th>Assigned To</th>
              <th>Contact</th>
          </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td></td>
                <td>
                  <a href="/projects/{{task.projectid}}">{{task.projectname}}</a>
                </td>
                <td>
                  <a href="/projects/{{task.projectid}}/{{task.milestoneid}}">{{task.milestonename}}</a>
                </td>
                <td>
                  <a href="/tasks/{{task._id}}">{{task.taskname}}</a>
                </td>
                <td>{{task.description}}</td>
                <td>{{task.duedate.strftime('%d %b %Y')}}</td>
                <td>{{task.percentagecomplete}}</td>
                <td>{{task.ownername}}</td>
                {% if 'contact' in task %}
                  <td>{{task.contact.firstname}} {{task.contact.lastname}}</td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}
          <tbody>
      </table>
  </div>
    {% else %}
    <p>No Project tasks found</p>
  {% endif %}


</body>
</html>